body {
    background: #f2d2c7;
}
.quest {
    border-top: 2px solid green;
    border-bottom: 2px solid green;
}
.redFlag {
    color:red;
}
.adjust-margin{
    /* padding-left: 0px; */
    list-style-type: none;
    padding:10px 0 10px;
}
.gray-color{
    background-color: #dfe0e2;
}
.no-bullet {
    list-style-type: none;

}
.callout{
    width:30%;
    background: salmon;
    margin-left: 2rem;
    padding-left: 1rem;
    /* padding-right: 1.5rem; */
}
.dik {
    border-bottom: 2px solid green;
    padding-top: 2rem;
}
.push_bottom {
    margin-bottom: 3rem;
    padding-bottom: :2rem;
}
.nice-table{

}
.nice-table td input{
    width:100%;
}
