{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<div class="row">
    <form class="" action="" method="post">
        <h4>{{form.instance.prompt|default:"Make a new question"}} </h4>
        {% csrf_token %}
        {% bootstrap_form form %}
        <h4>Add answer</h4>
            {% csrf_token %}
            {{answer_forms.management_form}}
            <p>errors:{{answer_forms.errors}}</p>
        <section>
            <table class="table-striped table-bordered mb-3">
                <thead>
                    <tr>
                        <th class="text-center" scope="col" style="width:10%" ><bold>#id</bold></th>
                        <th class="text-center" scope="col" style="width:10%" >Order</th>
                        <th class="text-center" scope="col" style="width:100%">Text</th>
                        <th class="text-center" scope="col" style="width:10%">Correct</th>
                        <th class="text-center" scope="col" style="width:10%">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for form in answer_forms %}
                        <tr class='nice-table'>
                            <td class="text-center">{% if form.instance.id%}{{form.instance.id}}{%else%}{% endif %}</td>
                            <td class="text-center">{{form.order}}</td>
                            <td>{{form.text}}</td>
                            <td class="text-center">{{form.correct}}</td>
                                {% if form.instance.id %}
                                    <td>Delete{{form.DELETE}}</td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
        <input type="submit" class="btn btn-primary" value="Save">
    </form>

{% endblock %}
