{% extends 'base.html' %}

{% block content %}
    <h3 class="my-3">Course List coming</h3>
        {% for group in object_list %}
            <div class="quest">
                <h4>Title: {{group.title}}</h4>
                <p>Created: {{group.created_at}}</p>
                <p>Description: {{group.description}}</p>
                <hr>
                <p><strong>Quizzes</strong> of this group</p>
                <ul>
                    {% if group.quiz_set.all %}
                        {% for quiz in group.quiz_set.all%}
                            <a href="{{quiz.get_absolute_url}}"><li>{{quiz.title}}</li></a>
                        {% endfor%}
                    {% else %}
                    <p>No quizzes at this moment</p>
                    {% endif %}
                </ul>
            </div>
        {% endfor %}



{% endblock %}
